@import '../../../../assets/scss/base';

.search-component {
  input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-pry);

    &:focus {
      border-width: 2px;
    }
  }

  @include breakpoint(md) {
    input {
      width: 50%;
    }
  }
}