<h3 class="page-title">{{ title }}</h3>
<section class="page-container container-shadow">  
  <div class="search-component">
    <input #searchInput type="text" (keyup)="search(searchInput.value)" placeholder="Search tickets">
  </div>

  <!-- TICKET LIST -->
  <ng-container *ngIf="tickets$ | async as tickets">
    <div *ngIf="!tickets.length" class="notification-box notification-box-md default-msg">There are currently no tickets available!</div>
    <table>
      <thead>
        <tr>
          <th>Ticket ID #</th>
          <th>Title</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets" class="ticket-row">
          <td class="id-col">{{ ticket.id }}</td>
          <td class="title-col"><a [routerLink]="['/tickets', ticket.id]">{{ ticket.title }}</a></td>
          <td class="priority-col">
            <div class="label-rect-bordered label-rect-low" *ngIf="ticket.priority === 0">Low</div>
            <div class="label-rect-bordered label-rect-high" *ngIf="ticket.priority === 1">High</div>
            <div class="label-rect-bordered label-rect-critical" *ngIf="ticket.priority === 2">Critical</div>
          </td>
          <td class="status-col">
            <div class="label-rect label-open" *ngIf="ticket.status === 0">Open</div>
            <div class="label-rect label-in-progress" *ngIf="ticket.status === 1">In-progress</div>
            <div class="label-rect label-done" *ngIf="ticket.status === 2">Done</div>
          </td>
          <td class="action-col">
            <a [routerLink]="['/tickets', ticket.id]" [queryParams]="{ mode: formMode.EDIT }">Edit</a>
            <button
              class="btn btn-delete"
              [disabled]="deletingTicket === ticket.id"
              [ngClass]="{ 'disabled': deletingTicket === ticket.id }"
              [swal]="{ title: 'Delete Ticket?', text: 'This action cannot be undone.', icon: 'question', showCancelButton: true }"
              (confirm)="deleteTicket($event, ticket.id)">Delete
            </button>
            <span *ngIf="deletingTicket === ticket.id">Deleting...</span>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <div *ngIf="errors$ | async as errors">
    <div class="notification-box notification-box-md error-msg" *ngIf="errors.loadError">
      {{ errors.loadError }}
    </div>
  </div>
</section>
