<h3 class="page-title">{{ title }}</h3>
<section class="page-container container-shadow">  
  <div class="search-component">
    <input #searchInput type="text" [(ngModel)]="searchStr" placeholder="Search tickets">
  </div>

  <!-- TICKET LIST -->
  <ng-container *ngIf="tickets$ | async | searchFilter:searchStr as tickets">
    <div *ngIf="!tickets.length" class="notification-box notification-box-md default-msg">There are currently no tickets available!</div>
    <app-ticket-list-table
      *ngIf="tickets.length"
      [ticketList]="tickets"
      [deletingTicket]="deletingTicket"
      (deleteTicket)="deleteTicket($event)">
    </app-ticket-list-table>
  </ng-container>

  <div *ngIf="errors$ | async as errors">
    <div class="notification-box notification-box-md error-msg" *ngIf="errors.loadError">
      {{ errors.loadError }}
    </div>
  </div>
</section>
