@import '../../../assets/scss/base';

.app-header {
  background: var(--pry);
  height: toRem(80px);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;

  @include breakpoint(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}