<table>
  <thead>
    <tr>
      <th>Ticket ID #</th>
      <th>Title</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketList" class="ticket-row">
      <td class="id-col">{{ ticket.id }}</td>
      <td class="title-col"><a [routerLink]="['/tickets', ticket.id]">{{ ticket.title }}</a></td>
      <td class="priority-col">
        <div class="label-rect-bordered label-rect-low" *ngIf="ticket.priority === 0">Low</div>
        <div class="label-rect-bordered label-rect-high" *ngIf="ticket.priority === 1">High</div>
        <div class="label-rect-bordered label-rect-critical" *ngIf="ticket.priority === 2">Critical</div>
      </td>
      <td class="status-col">
        <div class="label-rect label-open" *ngIf="ticket.status === 0">Open</div>
        <div class="label-rect label-in-progress" *ngIf="ticket.status === 1">In-progress</div>
        <div class="label-rect label-done" *ngIf="ticket.status === 2">Done</div>
      </td>
      <td class="action-col">
        <a [routerLink]="['/tickets', ticket.id]" [queryParams]="{ mode: formMode.EDIT }">Edit</a>
        <button
          class="btn btn-delete"
          [disabled]="deletingTicket === ticket.id"
          [ngClass]="{ 'disabled': deletingTicket === ticket.id }"
          [swal]="{ title: 'Delete Ticket?', text: 'This action cannot be undone.', icon: 'question', showCancelButton: true }"
          (confirm)="removeTicket($event, ticket.id)"
          (cancel)="dismiss($event)">Delete
        </button>
        <span *ngIf="deletingTicket === ticket.id">Deleting...</span>
      </td>
    </tr>
  </tbody>
</table>