<h3 class="page-title">{{ title }}</h3>
<section class="page-container container-shadow">  
  <div class="search-component">
    <input #searchInput type="text" (keyup)="search(searchInput.value)" placeholder="Search tickets">
  </div>
  <table>
    <thead>
      <tr>
        <th>Ticket ID #</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <ng-container *ngIf="searchResult$ | async as result">
      <ng-container *ngIf="result.length">
        <tbody *ngIf="result.length">
          <tr (click)="goto(ticket.id)" *ngFor="let ticket of result" class="ticket-row">
            <td class="id-col">{{ ticket.id }}</td>
            <td class="title-col">{{ ticket.title }}</td>
            <td class="priority-col">
              <div class="label-rect-bordered label-rect-low" *ngIf="ticket.priority === 0">Low</div>
              <div class="label-rect-bordered label-rect-high" *ngIf="ticket.priority === 1">High</div>
              <div class="label-rect-bordered label-rect-critical" *ngIf="ticket.priority === 2">Critical</div>
            </td>
            <td class="status-col">
              <div class="label-rect label-open" *ngIf="ticket.status === 0">Open</div>
              <div class="label-rect label-in-progress" *ngIf="ticket.status === 1">In-progress</div>
              <div class="label-rect label-done" *ngIf="ticket.status === 2">Done</div>
            </td>
            <td class="action-col">
              <button class="btn btn-edit" (click)="goto(ticket.id, true)">View</button>
              <button
                class="btn btn-delete"
                [disabled]="deletingTicket === ticket.id"
                [ngClass]="{ 'disabled': deletingTicket === ticket.id }"
                [swal]="{ title: 'Delete Ticket?', text: 'This action cannot be undone.', icon: 'question', showCancelButton: true }"
                (confirm)="deleteTicket($event, ticket.id)"
                (cancel)="dismiss($event)">Delete
              </button>
              <span *ngIf="deletingTicket === ticket.id">Deleting...</span>
            </td>
          </tr>
        </tbody>
      </ng-container>
      <ng-container *ngIf="!result.length">
        <ng-container *ngIf="tickets$ | async as tickets">
          <tr *ngIf="!tickets.length">
            <td colspan="5">
              <div class="notification-box notification-box-md default-msg">There are currently no tickets available!</div>
            </td>
          </tr>
          <tbody *ngIf="tickets.length">
            <tr (click)="goto(ticket.id)" *ngFor="let ticket of tickets" class="ticket-row">
              <td class="id-col">{{ ticket.id }}</td>
              <td class="title-col">{{ ticket.title }}</td>
              <td class="priority-col">
                <div class="label-rect-bordered label-rect-low" *ngIf="ticket.priority === 0">Low</div>
                <div class="label-rect-bordered label-rect-high" *ngIf="ticket.priority === 1">High</div>
                <div class="label-rect-bordered label-rect-critical" *ngIf="ticket.priority === 2">Critical</div>
              </td>
              <td class="status-col">
                <div class="label-rect label-open" *ngIf="ticket.status === 0">Open</div>
                <div class="label-rect label-in-progress" *ngIf="ticket.status === 1">in-progress</div>
                <div class="label-rect label-done" *ngIf="ticket.status === 2">done</div>
              </td>
              <td class="action-col">
                <button class="btn btn-edit" (click)="goto(ticket.id, true)">View</button>
                <button
                  class="btn btn-delete"
                  [disabled]="deletingTicket === ticket.id"
                  [ngClass]="{ 'disabled': deletingTicket === ticket.id }"
                  [swal]="{ title: 'Delete Ticket?', text: 'This action cannot be undone.', icon: 'question', showCancelButton: true }"
                  (confirm)="deleteTicket($event, ticket.id)"
                  (cancel)="dismiss($event)">Delete
                </button>
                <span *ngIf="deletingTicket === ticket.id">Deleting...</span>
              </td>
            </tr>
          </tbody>
          <div *ngIf="loader$ | async as loader">
            <div class="notification-box notification-box-lg default-msg" *ngIf="loader.isLoading">Loading Tickets</div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>

  <div *ngIf="errors$ | async as errors">
    <div class="notification-box notification-box-md error-msg" *ngIf="errors.loadError">
      {{ errors.loadError }}
    </div>
  </div>
</section>
