@import '../../../../assets/scss/base';

.detail-header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.meta-data {
  height: 100%;
  border-radius: 5px;
  background: hsl(224, 22, 98);
  border: 1px solid hsl(224, 22, 90);
}

.meta-data ul, .detail-body ul {
  list-style: none;
}

.meta-data li {
  display: inline-block;
}

.meta-data li div {
  padding: 0 .5rem;
  width: 100px;
}

.detail-body {
  margin-top: 2rem;
}

.detail-body ul {
  margin: 0;
  padding: 0;
}

.detail-body li {
  display: block;
  margin-top: 2rem;
}

.detail-body li div {
  color: var(--pry);
}

.detail-body li p {
  font-size: 16px;
}