@import '../../../assets/scss/base';

.dashboard {
  width: 90%;

  @include breakpoint(md) {
    width: 80%;
  }
}

.stats-area {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.stat {
  height: 200px;
  width: 30.333%;
  background: white;
  border-radius: 10px;
  text-align: center;
  color: var(--pry);
  position: relative;
  display: flex;
  justify-content: center;;
  align-items: center;
  transform: translateY(50px);
  opacity: 0;
  animation: slideUp .5s forwards;
}

.stat[data-id="0"] {
  animation-delay: .2s;
}

.stat[data-id="1"] {
  animation-delay: .4s;
}

.stat[data-id="2"] {
  animation-delay: .6s;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}

.stat-label {
  text-transform: uppercase;
  font-size: 12px;
}

.stat-type {
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  height: 8px;
  width: 8px;
  top: 1rem;
  right: 1rem;
}

.open { border-color: #EE5BCE; }
.in-progress { border-color: #5BA8EE; }
.done { border-color: #86ED47; }

@keyframes slideUp {
  100%{ transform: translateY(0); opacity: 1 }
}